*{
    box-sizing: border-box;
} 
body{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    height: 100vh;
    width: 100%;
    background-image: url(./../img/showcase.jpg);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}
.title{
    text-align: center;
    background-color: grey;
    font-weight: 600;
    font-size: 40px;
    line-height: 72px;
    color: white;
}
.text{
    text-align: center;
    background-color: grey;
    font-weight: 600;
    font-size: 30px;
    line-height: 72px;
    color: white;
}
.section1{
    background-color: #333;
    overflow: hidden;
    padding: 4rem 1rem;
    
}
.grid{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    max-width: 960px;
    height: 250px;
    margin: auto;
    overflow: hidden;
    padding: 4rem 1rem;
    

} 
.grid h3{
    
    font-weight: 600;
    font-size: 20px;
    line-height: 72px;
}
    
}
.grid p{
    margin-top: 15px;
    padding-right: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 72px;
}

.section2{
    display: flex;
    background-color: #f4f4f4;
    overflow: hidden;
    padding: 4rem 1rem;   
    height: 400px;
    justify-content: center;
    align-items: center;
}
   
   

.grid-2{
    display: flex;
    max-width: 800px;
    align-items: center;
    margin-left: 70px;
    color: #333;    
}
.grid-2 i{
    margin-right: 100px;
}
.grid-2 h3{
    font-weight: 600;
    font-size: 20px;
    line-height: 72px;
}
.grid-2 p{
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}
footer{
    background-color:#333 ;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.end{
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;  
}
  
    